{
  "author": "{{author.name}} <{{author.email}}> ({{link.home}})",
  "blueprint": {
    "group": "go",
    "repository": {
      "github": "{{#if repository.github}}{{repository.github}}{{else}}https://github.com/{{profile.github}}/{{repository.prefix.github}}{{slug}}{{/if}}",
      "gitlab": "{{#if repository.gitlab}}{{repository.gitlab}}{{else}}{{repository.gitlabBaseUrl}}/{{group}}/{{subgroup}}/{{slug}}{{/if}}"
    },
    "subgroup": "library"
  },
  "bugs": {
    "email": "{{email.help}}",
    "url": "{{#if repository.gitlab}}{{repository.gitlab}}{{else}}{{repository.gitlabBaseUrl}}/{{group}}/{{subgroup}}/{{slug}}{{/if}}{{repository.location.issues.gitlab}}"
  },
  "changelog": {
    "displayTypes": [
      "feat",
      "fix",
      "perf",
      "refactor",
      "revert"
    ],
    "showAuthor": true
  },
  "commitlint": {
    "extends": [
      "@commitlint/config-conventional"
    ],
    "helpUrl": "https://megabyte.space/docs/contributing/commits"
  },
  "config": {
    "commitizen": {
      "path": "node_modules/git-cz-emoji"
    }
  },
  "dependencies": {},
  "description": "{{description}}",
  "devDependencies": {
    "@commitlint/config-conventional": "^16.0.0",
    "eslint-config-strict-mode": "latest",
    "git-cz-emoji": "latest",
    "glob": "^7.2.0",
    "handlebars-helpers": "^0.10.0",
    "prettier-config-sexy-mode": "latest",
    "semantic-release-config": "latest",
    "typescript": "^4.5.5"
  },
  "engines": {
    "node": ">=14.18.0"
  },
  "eslintConfig": {
    "extends": "eslint-config-strict-mode"
  },
  "files": [],
  "funding": [
    {
      "type": "opencollective",
      "url": "{{profile_link.opencollective}}/{{profile.opencollective}}"
    },
    {
      "type": "patreon",
      "url": "{{profile_link.patreon}}/{{profile.patreon}}"
    }
  ],
  "homepage": "{{link.home}}",
  "keywords": [
    "go",
    "go-lang",
    "golang",
    "library",
    "mblabs",
    "megabytelabs",
    "professormanhattan",
    "washingtondc"
  ],
  "license": "{{license}}",
  "lint-staged": {
    "(Brewfile|composer.lock|Gemfile|Gopkg.lock|Pipfile.lock)": [
      "task fix:prettier --"
    ],
    "**/!(logo).(jpg|png)": [
      "task image:compress --"
    ],
    "**/*": [
      "task lint:any --"
    ],
    "**/*.(bash|cfg|cgi|command|css|env|env.*|handlebars|hbs|html|less|fcgi|java|md|mdx|mjml|php|phtml|properties|reg|scss|tmpl|tmux|tool|tpl|zsh)": [
      "task fix:prettier --"
    ],
    "**/*.(cjs|js|jsx|mjs|ts|tsx)": [
      "task fix:js --",
      "task lint:js --"
    ],
    "**/*.(json|webapp|webmanifest)": [
      "task fix:json --"
    ],
    "**/*.(yml|yaml)": [
      "task fix:yaml --",
      "task lint:yaml --"
    ],
    "**/*.go": [
      "task fix:go --",
      "task lint:go --"
    ],
    "**/*.php": [
      "task fix:php --",
      "task lint:php --"
    ],
    "**/*.py": [
      "task fix:python --",
      "task lint:python --"
    ],
    "**/*.sh": [
      "task fix:prettier --",
      "task fix:shell --",
      "task lint:shell --"
    ],
    "**/*.toml": [
      "task fix:toml --",
      "task fix:prettier --",
      "task lint:toml --"
    ],
    "**/*.xml": [
      "task fix:xml --",
      "task lint:xml --"
    ],
    "Dockerfile": [
      "task fix:prettier --",
      "task lint:docker --"
    ],
    "Vagrantfile": [
      "task fix:prettier --",
      "task lint:vagrant"
    ],
    "logo.png": [
      "task image:resize -- 200 200",
      "task image:compress --"
    ]
  },
  "name": "{{#if customPackageName}}{{customPackageName}}{{else}}@{{profile.npmjs_organization}}/{{repository.prefix.github}}{{slug}}{{/if}}",
  "ntl": {
    "descriptions": {
      "build": "Builds the project using the build command specified under scripts in package.json",
      "help": "Display the Bodega Taskfile.yml interactive help menu",
      "prepare": "A hook triggered by running npm install that runs logic such as installing pre-commit hooks",
      "repair": "Fixes basic issues in projects that are having trouble running basic commands like 'task start'",
      "start": "Entrypoint for new developers that installs requirements and then runs 'task start'",
      "test": "Runs the appropriate test logic by running the test command defined under scripts in package.json"
    }
  },
  "optionalDependencies": {},
  "pnpm": {
    "allowedVersions": {
      "@typescript-eslint/eslint-plugin": "5",
      "typescript": "4"
    },
    "neverBuiltDependencies": [
      "core-js",
      "core-js-pure",
      "highlight.js"
    ],
    "peerDependencyRules": {
      "ignoreMissing": [
        "eslint",
        "prettier"
      ]
    }
  },
  "prettier": "prettier-config-sexy-mode",
  "private": false,
  "publishConfig": {
    "@megabyte:registry": "https://gitlab.com/api/v4/projects/{{gitlab_project_id}}/packages/npm/",
    "access": "{{npm_publish_config_access}}"
  },
  "release": {
    "branches": [
      "main",
      "master",
      "next",
      {
        "name": "beta",
        "prerelease": true
      },
      {
        "name": "alpha",
        "prerelease": true
      }
    ],
    "extends": "semantic-release-config"
  },
  "repository": {
    "type": "git",
    "url": "git+{{#if repository.github}}{{repository.github}}{{else}}https://github.com/{{profile.github}}/{{repository.prefix.github}}{{slug}}{{/if}}.git"
  },
  "scripts": {
    "build": "{{{replace scriptsBuild scriptsReplaceThis scriptsReplaceWith}}}",
    "help": "{{{replace scriptsHelp scriptsReplaceThis scriptsReplaceWith}}}",
    "prepare": "{{{replace scriptsPrepare scriptsReplaceThis scriptsReplaceWith}}}",
    "repair": "bash <(curl -sS https://install.doctor/repair)",
    "start": "{{{replace scriptsStart scriptsReplaceThis scriptsReplaceWith}}}",
    "test": "{{{replace scriptsTest scriptsReplaceThis scriptsReplaceWith}}}"
  },
  "type": "{{npm_type}}",
  "version": "{{version}}"
}
