---
announce:
  linkedin:
    enabled: false
    message_template: '{{name}} \{{ .Tag }} is out! Check it out at \{{ .ReleaseURL }}.'
  reddit:
    application_id: '{{redditApplicationId}}'
    enabled: false
    title_template: '{{name}} \{{ .Tag }} was just released!'
    url_template: '{{repository.github}}/releases/tag/\{{ .Tag }}'
    username: '{{redditUsername}}'
  skip: '\{{gt .Patch 0}}'
  slack:
    channel: '{{slackNotificationChannel}}'
    enabled: true
    icon_url: '{{slackNotificationIcon}}'
    message_template: '**[{{name}}]({{repository.github}})** \{{.Tag}} is out! Check it out at \{{.ReleaseURL}}.'
    username: '{{slackNotificationUsername}}'
  teams:
    color: '{{teamsNotificationColor}}'
    enabled: false
    icon_url: '{{teamsNotificationIcon}}'
    message_template: '{{name}} \{{ .Tag }} is out! Check it out at \{{ .ReleaseURL }}.'
    title_template: '{{name}} \{{ .Tag }} has been released!'
  twitter:
    enabled: false
    message_template: '{{name}} \{{ .Tag }} is out with new features! Check it out at \{{ .ReleaseURL }}.'

archives:
  - files:
      - README.md
      - LICENSE
      - completion/**/*
    format_overrides:
      - format: zip
        goos: windows
    replacements:
      darwin: macos

before:
  hooks:
    - go mod tidy

brews:
  - description: '{{description}}'
    folder: '{{homebrew.folder}}'
    homepage: '{{link.home}}'
    install: |-
      bin.install "{{binName}}"
      bash_completion.install "completion/bash/{{binName}}.bash" => "{{binName}}"
      zsh_completion.install "completion/zsh/_{{binName}}" => "_{{binName}}"
      fish_completion.install "completion/fish/{{binName}}.fish"
    license: '{{license}}'
    name: '{{binName}}'
    tap:
      name: '{{homebrew.name}}'
      owner: '{{homebrew.owner}}'
    test: '{{homebrew.test}}'

build:
  binary: '{{binName}}'
  env:
    - CGO_ENABLED=0
  goarch:
    - 386
    - amd64
    - arm
    - arm64
  goarm:
    - 6
  goos:
    - windows
    - darwin
    - linux
  ignore:
    - goarch: 386
      goos: darwin
  ldflags:
    # yamllint disable-line rule:line-length
    - '{{{buildLdflags}}}'
  main: '{{buildMain}}'

checksum:
  name_template: CHECKSUMS.txt

dist: build

dockers:
  - build_flag_templates:
      - --platform=linux/amd64
    dockerfile: .config/Dockerfile
    goarch: amd64
    goos: linux
    image_templates:
      - '{{profile.dockerhub}}/\{{.ProjectName}}'
      - '{{profile.dockerhub}}/\{{.ProjectName}}:\{{.Tag}}'
      - '{{profile.dockerhub}}/\{{.ProjectName}}:v\{{ .Major }}'
    use: buildx

gomod:
  proxy: {{ gomodProxy }}

nfpms:
  - description: '{{description}}'
    formats:
      - apk
      - deb
      - rpm
    homepage: '{{link.home}}'
    id: default
    license: '{{license}}'
    maintainer: '{{organization}} <{{email.help}}>'
    recommends:
      - git
    replacements:
      darwin: macos
    suggests:
      - docker
      - jq
      - yq
    vendor: '{{company}}'

project_name: '{{replace name " " "-"}}'

release:
  disable: true

snapcrafts:
  - confinement: '{{snapConfinement}}'
    # yamllint disable-line rule:line-length
    description: '{{overview}}'
    extra_files:
      - destination: completion
        mode: 0755
        source: completion
    id: default
    license: '{{license}}'
    publish: true
    replacements:
      darwin: macos
    summary: '{{description}}'

snapshot:
  name_template: '\{{.Tag}}'

universal_binaries:
  - replace: true
